In [35]:
import pandas as pd
shark_attack = pd.read_excel("data/tiburones.xls")

In [36]:
shark_attack

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1st September,2025.0,Unprovoked,USA,Florida,Horseshoe reef Key Largo,Snorkeling,Richard Burrows,M,8,...,Not stated,Todd Smith: US SUN: NY Post: The Guardian: Peo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30th August,2025.0,Unprovoked,USA,Texas,Galveston,Swimming,Harper Ochoa,F,8,...,Not stated,Bob Myatt GSAF : People:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,Brad Ross,M,?,...,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,Not stated,M,63,...,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7040,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7041,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7042,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7043,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7044,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [37]:
#ELIMINACION DE COLUMNAS INNECESARIAS PARA EL PROYECTO

shark_attack.drop('Location', axis =1, inplace=True)
shark_attack.drop('Name', axis =1, inplace=True)
shark_attack.drop('Sex', axis =1, inplace=True)
shark_attack.drop('Age', axis =1, inplace=True)
shark_attack.drop('Injury', axis =1, inplace=True)
shark_attack.drop('Time', axis =1, inplace=True)
shark_attack.drop('Source', axis =1, inplace=True)
shark_attack.drop('pdf', axis =1, inplace=True)
shark_attack.drop('href formula', axis =1, inplace=True)
shark_attack.drop('href', axis =1, inplace=True)
shark_attack.drop('Case Number', axis =1, inplace=True)
shark_attack.drop('Case Number.1', axis =1, inplace=True)
shark_attack.drop('original order', axis =1, inplace=True)
shark_attack.drop('Unnamed: 21', axis =1, inplace=True)
shark_attack.drop('Unnamed: 22', axis =1, inplace=True)

In [ ]:
#FILTRAR VALORES POR AÑO SUPERIORES A 1970

shark_attack = shark_attack[shark_attack['Year'] > 1970]

In [39]:
#REMPLAZAR VALORES EN 'FATAL Y/N' POR 1 Y 0

shark_attack['Fatal Y/N'] = shark_attack['Fatal Y/N'].replace({'Y': 1, 'N': 0})

grouped = shark_attack.groupby('Fatal Y/N')

grouped.size()

C:\Users\luisf\AppData\Local\Temp\ipykernel_18476\2926669917.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attack['Fatal Y/N'] = shark_attack['Fatal Y/N'].replace({'Y': 1, 'N': 0})

Fatal Y/N
0          3323
1           466
2017          1
F             5
M             3
Nq            1
UNKNOWN      25
Y x 2         1
n             1
dtype: int64

In [40]:
#UNIFICAR EL TAMAÑO DE LAS LETRAS EN COLUMNAS EXPECIFICAS

shark_attack['Country'] = shark_attack['Country'].str.lower().str.strip()
shark_attack['State'] = shark_attack['State'].str.upper().str.strip()
shark_attack['Activity'] = shark_attack['Activity'].str.lower().str.strip()
shark_attack['Type'] = shark_attack['Type'].str.lower().str.strip()

C:\Users\luisf\AppData\Local\Temp\ipykernel_18476\21292280.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attack['Country'] = shark_attack['Country'].str.lower().str.strip()
C:\Users\luisf\AppData\Local\Temp\ipykernel_18476\21292280.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attack['State'] = shark_attack['State'].str.upper().str.strip()
C:\Users\luisf\AppData\Local\Temp\ipykernel_18476\21292280.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attack['Activity'] = shark_attack['Activity'].str.lower().str.strip()
C:\Users\luisf\AppData\Local\Temp\ipykernel_18476\21292280.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attack['Type'] = shark_attack['Type'].str.lower().str.strip()

In [ ]:
#CAMBIAR VALORES SIMILARES A UN ÚNICO VALOR COMÚN

shark_attack = shark_attack.replace({'under investigation' : 'unknown',
                                                    'unverified' : 'unknown',
                                                    'unconfirmed' : 'unknown',
                                                    '?' : 'unknown',
                                                    'sea disaster': 'unprovoked',
                                                    'invalid' : 'unknown'})

shark_attack['State'] = shark_attack['State'].replace({'NSW': 'New South Wales'}, regex=True)

In [ ]:
#SUSTITUCIÓN DE VALORES NULOS

shark_attack['Country'] = shark_attack['Country'].fillna(method= 'ffill')
shark_attack['Type'] = shark_attack['Type'].fillna(method= 'ffill')
shark_attack['State'] = shark_attack['State'].fillna('unknown')
shark_attack['Activity'] = shark_attack['Activity'].fillna('unknown')
shark_attack['Fatal Y/N'] = shark_attack['Fatal Y/N'].fillna('unknown')
shark_attack['Species '] = shark_attack['Species '].fillna('unknown')

C:\Users\luisf\AppData\Local\Temp\ipykernel_18476\77243532.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  shark_attack['Country'] = shark_attack['Country'].fillna(method= 'ffill')
C:\Users\luisf\AppData\Local\Temp\ipykernel_18476\77243532.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  shark_attack['Type'] = shark_attack['Type'].fillna(method= 'ffill')

In [49]:
group = shark_attack_top_countries.groupby(['Country', 'Activity']).size().sort_values(ascending=False).head(10)
group

#esto es una prueba fallida

Country       Activity
usa           surfing     653
              swimming    273
australia     surfing     234
usa           wading      105
south africa  surfing      99
usa           unknown      93
australia     swimming     87
usa           fishing      72
australia     fishing      56
usa           standing     55
dtype: int64

In [44]:
#GRUPO PAISES

shark_attack_country = shark_attack.groupby('Country') #creamos un grupo con la columna de paises
top_5_countries = shark_attack_country.size().sort_values(ascending=False).head(5) #seleccionamos los 5 paises mas frecuentes en el grupo anterior
shark_attack_top_countries = shark_attack[shark_attack['Country'].isin(top_5_countries.index)] #filtramos los 5 paises en el df original

#creamos un bucle para realcionar las actividades con ataques mas comunes con los paises que estan en el top de mas afectados

for country in top_5_countries.index:
    print(country.upper())

    country_data = shark_attack_top_countries[shark_attack_top_countries['Country'] == country]
    
    top3_activities = (country_data['Activity'].value_counts().head(3))
    
    print(top3_activities)

USA
Activity
surfing     653
swimming    273
wading      105
Name: count, dtype: int64
AUSTRALIA
Activity
surfing     234
swimming     87
fishing      56
Name: count, dtype: int64
SOUTH AFRICA
Activity
surfing         99
swimming        44
spearfishing    43
Name: count, dtype: int64
BAHAMAS
Activity
spearfishing    41
snorkeling      12
diving           8
Name: count, dtype: int64
BRAZIL
Activity
surfing     39
swimming    36
unknown      8
Name: count, dtype: int64

In [ ]:
#GRUPO ACTIVIDADES

shark_attack_activities = shark_attack.groupby('Activity') #creamos un grupo con la columna de actividades
top_3_activities = shark_attack_activities.size().sort_values(ascending=False).head(3) #seleccionamos las 3 actividades mas frecuentes
shark_attack_top_activities = shark_attack[shark_attack['Activity'].isin(top_3_activities.index)] #filtramos las 3 actividades en el df original

#creamos un bucle para relacionar las actividades con la fatalidad de los ataques

for activity in top_3_activities.index:
    print(activity.upper())

    activity_data = shark_attack_top_activities[shark_attack_top_activities['Activity'] == activity]
    
    fatal_activities = (activity_data['Fatal Y/N'].value_counts().head(2))
    
    print(fatal_activities)

SURFING
Fatal Y/N
0    1008
1      62
Name: count, dtype: int64
SWIMMING
Fatal Y/N
0    419
1    100
Name: count, dtype: int64
SPEARFISHING
Fatal Y/N
0    221
1     33
Name: count, dtype: int64

In [ ]:
#sacamos la relacion de ataques provocados o no en cada pais del top

for country in top_5_countries.index:
    print(country.upper())

    country_data = shark_attack_top_countries[shark_attack_top_countries['Country'] == country]
    
    top3_activities = (country_data['Type'].value_counts().head(3))
    
    print(top3_activities)

USA
Type
unprovoked    1629
provoked       122
unknown        112
Name: count, dtype: int64
AUSTRALIA
Type
unprovoked    573
provoked       55
watercraft     53
Name: count, dtype: int64
SOUTH AFRICA
Type
unprovoked    271
unknown        41
provoked       40
Name: count, dtype: int64
BAHAMAS
Type
unprovoked    96
provoked      10
unknown        5
Name: count, dtype: int64
BRAZIL
Type
unprovoked    98
unknown        9
provoked       6
Name: count, dtype: int64